body{
  background-color: #fff;
     font-family: bestkid-sans;
   margin: 0;
  }
  
  .header {
  padding: 5px;
  background: #1b1b1b;
  color: white;
    font-size: 20px;
}

@font-face {
	font-family: "bestkid-sans";
	src: url("https://gloingbroing.neocities.org/bksoundboard/fonts/DroidSans.ttf");
